In [31]:
from __future__ import print_function
import numpy as np
from pandas import Series, DataFrame
import pandas
import pandas as pd
import pylab as py

%pylab inline

import os

Populating the interactive namespace from numpy and matplotlib

In [4]:
PUIdata = os.getenv('DFDATA')

print (PUIdata)

/gws/open/NYCOpenData/nycopendata/data

In [37]:
df_project_population = pd.read_csv(PUIdata + '/97pn-acdf/1391175248/97pn-acdf')

df_project_population.loc[:,'Borough':'2020']

           Borough    Age     2000     2005     2010     2015     2020
0        NYC Total    0-4   540878   523904   527354   536810   544773
1        NYC Total    5-9   561115   525356   508693   508003   517690
2        NYC Total  10-14   530816   573889   537532   516532   516163
3        NYC Total  15-19   520641   556185   599903   559104   538550
4        NYC Total  20-24   589831   593361   634178   678911   634446
5        NYC Total  25-29   680659   679521   681653   726325   779142
6        NYC Total  30-34   687362   672297   671397   668645   712926
7        NYC Total  35-39   660901   648632   634406   628782   627212
8        NYC Total  40-44   602379   648361   635853   616916   612222
9        NYC Total  45-49   531118   569301   613077   596498   579089
10       NYC Total  50-54   481267   525717   563627   602521   586417
11       NYC Total  55-59   369105   429823   469524   499582   534469
12       NYC Total  60-64   314349   337431   393367   426211   453515
13       NYC Total  65-69   259167   272301   292957   338703   366944
14       NYC Total  70-74   235627   208394   219210   234013   270659
15       NYC Total  75-79   193221   190760   169123   176408   188542
16       NYC Total  80-84   128139   129823   128437   113183   118116
17       NYC Total    85+   121703   121080   121923   120090   111689
18       NYC Total  Total  8008278  8206135  8402213  8547236  8692564
19           Bronx    0-4   109732   104324   107103   111214   113080
20           Bronx    5-9   119767   109310   103915   104385   108442
21           Bronx  10-14   107816   121541   110953   103215   103710
22           Bronx  15-19   101208   110907   124493   111621   104176
23           Bronx  20-24   100352   104466   114380   125667   112843
24           Bronx  25-29   101403   104276   108679   116970   128883
25           Bronx  30-34   107055    99233   102038   104026   111945
26           Bronx  35-39   106501   103110    95630    96201    98072
27           Bronx  40-44    93820   103085    99797    90532    91099
28           Bronx  45-49    79039    87907    96699    91503    82971
29           Bronx  50-54    69671    75013    83504    89867    85040
..             ...    ...      ...      ...      ...      ...      ...
84          Queens  40-44   174500   186843   176342   171127   173198
85          Queens  45-49   151517   164849   176356   168511   163706
86          Queens  50-54   135984   150088   163153   176616   168941
87          Queens  55-59   105655   119909   132191   145589   157791
88          Queens  60-64    91520    94377   106974   119423   131644
89          Queens  65-69    76380    76197    78508    90162   100693
90          Queens  70-74    71092    59404    59199    61909    71081
91          Queens  75-79    59790    55708    46581    47099    49311
92          Queens  80-84    39816    38702    36093    30859    31238
93          Queens    85+    35964    34343    33141    32153    29213
94          Queens  Total  2229379  2254639  2279674  2336544  2396949
95   Staten Island    0-4    29783    28972    29183    30367    31760
96   Staten Island    5-9    32967    31544    30748    30361    31596
97   Staten Island  10-14    32203    35364    33905    32407    32003
98   Staten Island  15-19    29274    32328    35509    33364    31925
99   Staten Island  20-24    26963    29435    32581    35068    32948
100  Staten Island  25-29    29381    29351    32147    34973    37687
101  Staten Island  30-34    34136    32192    32224    34616    37652
102  Staten Island  35-39    36978    34582    32687    32052    34426
103  Staten Island  40-44    36696    38865    36419    33747    33095
104  Staten Island  45-49    32446    36601    38854    35645    33019
105  Staten Island  50-54    30787    33000    37309    38801    35595
106  Staten Island  55-59    23426    29625    31831    35224    36642
107  Staten Island  60-64    17255    21780    27617    29002    32094
108  Staten Island  65-69    14518    15496    19598    24263    25474
109  Staten Island  70-74    13288    12811    13688    16895    20918
110  Staten Island  75-79    10397    11355    10977    11418    14054
111  Staten Island  80-84     7074     7791     8505     8002     8310
112  Staten Island    85+     6156     7156     8026     8492     8399
113  Staten Island  Total   443728   468248   491808   504697   517597

[114 rows x 7 columns]

In [25]:
df_top_row = df_project_population.head(n=10)
df_top_row

     Borough    Age    2000    2005    2010    2015    2020    2025    2030
0  NYC Total    0-4  540878  523904  527354  536810  544773  549039  546601
1  NYC Total    5-9  561115  525356  508693  508003  517690  527183  532339
2  NYC Total  10-14  530816  573889  537532  516532  516163  527453  538179
3  NYC Total  15-19  520641  556185  599903  559104  538550  539777  551975
4  NYC Total  20-24  589831  593361  634178  678911  634446  615873  618025
5  NYC Total  25-29  680659  679521  681653  726325  779142  729830  711752
6  NYC Total  30-34  687362  672297  671397  668645  712926  767718  720872
7  NYC Total  35-39  660901  648632  634406  628782  627212  671642  724652
8  NYC Total  40-44  602379  648361  635853  616916  612222  614546  659223
9  NYC Total  45-49  531118  569301  613077  596498  579089  578698  582104

In [26]:
df_top_row.drop(['2000', '2005'], 
                axis=1, inplace=True)

/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [27]:
df_top_row

     Borough    Age    2010    2015    2020    2025    2030
0  NYC Total    0-4  527354  536810  544773  549039  546601
1  NYC Total    5-9  508693  508003  517690  527183  532339
2  NYC Total  10-14  537532  516532  516163  527453  538179
3  NYC Total  15-19  599903  559104  538550  539777  551975
4  NYC Total  20-24  634178  678911  634446  615873  618025
5  NYC Total  25-29  681653  726325  779142  729830  711752
6  NYC Total  30-34  671397  668645  712926  767718  720872
7  NYC Total  35-39  634406  628782  627212  671642  724652
8  NYC Total  40-44  635853  616916  612222  614546  659223
9  NYC Total  45-49  613077  596498  579089  578698  582104

In [38]:
ax = df_top_row.plot.scatter(x= '2010', y= '2015', alpha =0.8)
ax.set_title('NYC Population 2010 VS. 2015')

print('Figure 1:")
print('This plot shows is the population of NYC from each age group') 
print('where the x-axis is the number of the population from year 2010')
print('and y-axis is population from year 2015 ')

SyntaxError: invalid syntax (<ipython-input-38-4b836af25dae>, line 4)